- return unless ::Ai::AmazonQ.feature_available?

= render ::Layouts::SettingsBlockComponent.new(s_('AmazonQ|GitLab Duo with Amazon Q'),
  id: 'js-amazon-q-settings',
  expanded: expanded_by_default?) do |c|
  - c.with_description do
    - link = link_to('', help_page_path('user/duo_amazon_q/index.md'), target: '_blank', rel: 'noopener noreferrer')
    = safe_format(s_('AmazonQ|Use GitLab Duo with Amazon Q to create and review merge requests and upgrade Java. %{link_start}Learn more%{link_end}.'), tag_pair(link, :link_start, :link_end))
  - c.with_body do
    .gl-mt-3
      = render Pajamas::ButtonComponent.new(variant: :confirm, href: admin_ai_amazon_q_settings_path) do
        = s_('AmazonQ|View configuration setup')
